
body {
    padding: 15px;
}

.card-body {
    font-size: 0.95rem;
    padding: 0.4rem;
    color: #444;
 }

.table-sm td, .table-sm th {
    padding: 0.15rem;
}
@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}